---
layout: default
title: "Resume"
header-img: "img/post-bg-resume.jpg"
---

<style type="text/css">
    .section-title {
        font-size: 3.5rem;
    }

    .bulletin-list {
        margin: 0;
    }

    .exp {
        display: flex;
        flex-direction: column;
    }

    .exp-body-fs {
        font-size: 1.4rem;
    }

    .title {
        display: inline-flex;
        font-size: 2rem;
        font-weight: bolder;
    }

    .company {
        display: inline-flex;
    }

    .duration {
        color: #737373;
    }

    .skill-list {
        margin-top: 1rem;
    }

    .tab {
        color: #0085A1;
        border-radius: 16px;
        border: solid;
        border-width: 1px;
        border-color: #0085A1;
        background-color: #F2F2F2;
        font-size: 1.6rem;
        margin: 5px 0;
        padding: 0 10px;
        padding-right: 10px;
    }

    button:hover {
        font-size: 1.8rem;
        font-weight: bold;
    }

    button:active {
        border-color: #4C1C59;
        color: #2E148C;
    }

    .tab-tag {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: block;
        color: #737373;
        font-size: 1.4rem;
        font-style: italic;
    }

    .sub-intro {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        display: block;
        color: #737373;
        padding: 0;
        font-size: 1.6rem;
        font-weight: bold;
    }

    .brief {
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px 0;
        padding: 0;
    }
</style>
<!-- Page Header -->
<header class="intro-header"
    style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>Jiali Jin</h1>
                    <ul class="list-inline text-center">
                        <li class="job-title">Software Developer</li>
                        {% if site.email %}
                        <li>
                            <a href="mailto:{{ site.email | encode_email }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if site.linkedin_username %}
                        <li>
                            <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <!-- <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i> -->
                                    <i class="fa fa-brands fa-linkedin-in fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {% endif %}

                        {% if site.github_username %}
                        <li>
                            <a target="_blank" href="https://github.com/{{ site.github_username }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa-brands fa-github fa-stack-1x fa-inverse"></i>
                                    <!-- <i class="fa fa-github fa-stack-1x fa-inverse"></i> -->
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% if site.portfolio %}
                        <li>
                            <a target="_blank" href="https://{{ site.portfolio }}portfolio.web.app/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
            <h3 class="section-title">Profile<span class="fa-stack">
                    <i class="fas fa-address-book"></i>
                </span></h3>
            <ul class="bulletin">
                <li>Quick learner, especially in adopting new technologies in web development</li>
                <li>Have experience with frameworks such as React, Angular, Bootstrap and Express.js</li>
                <li>Proficient in Java, Javascript, HTML5 and CSS5, has some exposure to PHP</li>
                <li>Good understanding of RESTful web services, SQL(MySQL) and NoSQL(MongoDB) and, Git</li>
                <li>Excellent communication and teamwork skills</li>
            </ul>
        </div>
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
            <h3 class="section-title">Skills
                <span class="fa-stack">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                </span>
            </h3>

            <div>
                <button class="tab" onclick="openTab('Frontend','skill')">Frontend</button>
                <button class="tab" onclick="openTab('Backend','skill')">Backend</button>
                <button class="tab" onclick="openTab('progLang','skill')">Programing Language</button>
                <button class="tab" onclick="openTab('other','skill')">Other</button>
            </div>
            <div id="Frontend" class="skill">
                <ul class="skill-list">
                    <li>HTML5 & CSS3</li>
                    <li>Bootstrap</li>
                    <li>JSX</li>
                    <li>React</li>
                    <li>Angular</li>
                </ul>
            </div>

            <div id="Backend" class="skill" style="display:none">
                <ul class="skill-list">
                    <li>Express</li>
                    <li>MySQL</li>
                    <li>PostgreSQL</li>
                    <li>MongoDB</li>
                </ul>
            </div>

            <div id="progLang" class="skill" style="display:none">
                <ul class="skill-list">
                    <li>Javascript</li>
                    <li>Java</li>
                    <li>Node.js</li>
                </ul>
            </div>
            <div id="other" class="skill" style="display:none">
                <ul class="skill-list">
                    <li>Git</li>
                    <li>Heroku</li>
                    <li>Firebase</li>
                    <li>Adobe XD</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
            <h3 class="section-title">Experience
                <span class="fa-stack">
                    <i class="fas fa-sticky-note"></i>
                </span>
            </h3>
            <div class="exp">
                <div class="title">Junior Software Developer (Co-op)</div>
                <div class="company exp-body-fs"> <i>Intricate Group Inc, Halifax, Canada</i></div>
                <div class="duration">May 2019 - Aug 2020</div>
            </div>
            <ul class="bulletin-list exp-body-fs">
                <li>Work independently on API and other required features in the front end, building
                    RESTful web services,
                    new functionalities and UI on the web pages, bug fixes, and other code changes using Java,
                    JavaScript,
                    jQuery, CSS, SQL, and related technologies.</li>
                <li>Create SQL database migration scripts.</li>
                <li>Create automated tests to help verify the correctness of written codes.</li>
                <li>Participate in design discussions to determine the best approach to implementing specific features,
                    bug
                    fixes, and other code changes.</li>
                <li>Use Git to manage work. Document codes at an appropriate level of detail and assist in maintaining
                    other
                    project documentation.</li>
                <li>Proactively communicate with the supervisor to ensure work progresses efficiently and effectively.
                </li>
            </ul>
        </div>
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
            <h3 class="section-title"><a target="_blank" style="color:black;text-decoration: none"
                    onMouseOver="this.style.color='#0085A1'" onMouseOut="this.style.color='black'"
                    href="https://{{ site.portfolio }}portfolio.web.app/projects">Personal
                    Projects</a>
                {% if site.portfolio %}
                <a style="color:black;" onMouseOver="this.style.color='#0085A1'" onMouseOut="this.style.color='black'"
                    target="_blank" href="https://{{ site.portfolio }}portfolio.web.app/projects">
                    <span class="fa-stack">
                        <i class="fa-solid fa-laptop-code"></i>
                        <!-- <i class="fa fa-briefcase fa-stack-1x"></i> -->
                    </span>
                </a>
                {% endif %}
            </h3>
            <div>
                <button class="tab" onclick="openTab('react', 'proj')">React</button>
                <button class="tab" onclick="openTab('express','proj')">Express</button>
                <button class="tab" onclick="openTab('angular','proj')">Angular</button>
                <button class="tab" onclick="openTab('otherProj','proj')">Other Projects</button>
            </div>
            <div id="react" class="proj">
                <div>
                    <h5>Zip Info</h5>
                    <div><span class="tab-tag">React | Bootstrap | Firebase Hosting | Apis</span></div>
                    <div><span class="sub-intro">A web app where you can find out post code information</span></div>
                    <p class="brief">This app use Formik and Yup to validate form fields. It also has a dynamic form
                        that
                        generates fields based on another field
                    </p>
                </div>
                <hr />
                <div>
                    <h5>Bistro star</h5>
                    <div><span class="tab-tag">React | Firebase Hosting</span></div>
                    <div><span class="sub-intro">A web app where you can order meals</span></div>
                    <p class="brief">User can add or remove meals from the cart. They can also checkout after inputting
                        user information
                    </p>
                </div>
                <hr />
                <div>
                    <h5>Meet up</h5>
                    <div><span class="tab-tag">React | Express | Firebase Hosting</span></div>
                    <div><span class="sub-intro">User can post and view meetup information</span></div>
                    <p class="brief">Users can post new meetups, pin their favourite meetups, and browse meetups
                        information. All meetups are paginated. The
                        web app retrieves data from a backend: meetuphere, which is built by Express and MongoDB
                    </p>
                </div>
            </div>

            <div id="express" class="proj" style="display:none">
                <div>
                    <h5>Meetup API</h5>
                    <div><span class="tab-tag">Express | Heroku | MongoDB | Mongoose</span></div>
                    <div><span class="sub-intro">User can fetch data in json format</span></div>
                    <p class="brief">This backend project enables the Meetup web app and Zip info web app to fetch data.
                        It supports meetups and countries.
                        It is built by Express and MongoDB, and hosted on Heroku
                    </p>
                </div>
            </div>
            <div id="angular" class="proj" style="display:none">
                <div>
                    <h5>Simple Post</h5>
                    <div><span class="tab-tag">Angular | ExpressJS | AWS | MongoDB | Angular Material</span></div>
                    <div><span class="sub-intro">User can signup and login to create new post messages with image. They
                            can review, edit, and delete their posts</span></div>
                    <p class="brief">This app was hosted on AWS, provide RESTful Apis that connects with MongoDB Atlas
                        database
                    </p>
                </div>
            </div>
            <div id="otherProj" class="proj" style="display:none">
                <div>
                    <h5>Super Bus</h5>
                    <div><span class="tab-tag">Adobe XD | Balsamiq</span></div>
                    <div><span class="sub-intro">User Interface design project</span></div>
                    <p class="brief">Redesign Transit app: The redesigned app allows user to search for bus, check for
                        empty seat, check bus time schedule,
                        plan route, pay the bus fare. It uses Adobe XD to make the high fidelity
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
            <h3 class="section-title">Education
                <span class="fa-stack">
                    <i class="fa-solid fa-graduation-cap"></i>
                </span>
            </h3>
            <div class="exp">
                <div class="title">Dalhousie University</div>
                <div><i>Bachelor of Applied Computer Science – Co-op, Minor Statistics</i></div>
                <div class="company exp-body-fs">Halifax, Nova Scotia</div>
                <div class="duration  exp-body-fs">September 2017 - May 2021</div>
                <hr />
                <div class="company"> <i>Awards</i> </div>
                <ul class="exp-body-fs">
                    <li>Dalhousie Sexton Scholar (2018,2019, 2020, and 2021 )</li>
                    <li>Dalhousie’s Spring 2021 convocation medal</li>
                </ul>
            </div>

        </div>
    </div>

</div>

<script>
    document.body.classList.add('page-resume');
    function openTab(tabName, classname) {
        var i;
        var x = document.getElementsByClassName(classname);
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(tabName).style.display = "block";
    }
</script>